{% extends "layout/base.html" %}

{% load bootstrap4 %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  <h2>Введите новый пароль:</h2>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      {% buttons submit='Сменить пароль' %}{% endbuttons %}
    </form>
  {% else %}
    <p>Извините, что-то пошло не так.</p>
    <p>Вернуться на <a href="{% url 'main:index' %}">главную</a> страницу</p>
  {% endif %}
{% endblock %}